<div id="myNavBar" class="navbar navbar-default" style="background-color: #EBF7F3">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/feed"class="navbar-brand">BookFace</a>
      <img src="/images/043_success-mail.gif" width="100px" height="50px">
    </div>
    <form class="navbar-form navbar-left" action="#" method="post">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button></form><ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/profile/{{myUid}}">{{firstName}} {{lastName}}
            <img src="/images/dude.jpg" width=25px class="img-thumbnail" aria-hidden="true">
          </a>
        </li>
        <li>
          <a href="/settings">
            <span class="glyphicon glyphicon-cog"aria-hidden="true" id="Test" width=10px></span>
          </a>
        </li>
        <li>
          <a href="/logout">
            <span class="glyphicon glyphicon-off" aria-hidden="true" id="Test">
          </a>
        </li>
      </li>
    </ul>
  </div>
</div>
