<script src="/javascript/postMessage.js" charset="utf-8"></script>

<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-9 col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
        <div class="form-group">
          <!-- <form class="form-group" action="/newMessage" method="post"> -->
            <label for="message">&nbspMake a post!</label>
            <textarea class="form-control" id="messageContent" name="message" rows="5" cols="100" placeholder="Insert your message" required="required"></textarea>
            <br>
            <input class="btn btn-default" type="button" onclick="prepost()" value="Post">
          <!-- </form> -->
        </div>
      </div>
    </div>
    <div id="messages"></div>
  </div>
</div>

<script type="text/javascript">
  let info = {};
  let uref = firebase.database().ref('Users/{{myUid}}');
  uref.on('value', (data) => { // get the currUsers info
    let val = data.val();
    info = {};
    info.myUid     = '{{myUid}}';
    info.firstName = val.firstName;
    info.lastName  = val.lastName;
    info.email     = val.email;
    let messRef = firebase.database().ref('Messages');
    messRef.on('value', (data) => {
      let v = data.val();
      let mess = [];
      for (let key in v) {
        for (let messKey in v[key]) {
          let messInfo = {};
          messInfo.content = v[key][messKey].message;
          messInfo.likes   = v[key][messKey].likes;
          let mRef = firebase.database().ref('Users/' + key);
          mRef.on('value', (data) => {
            messInfo.firstName = data.val().firstName;
            messInfo.lastName  = data.val().lastName;
            messInfo.uid       = key;
            mess.push(messInfo);
          });
        }
      }
      info.messages = mess;
      let messDiv = document.getElementById('messages');
      messDiv.innerHTML = '';
      for (let i = 0; i < info.messages.length; i++) {
        let mess = info.messages[i];
        messDiv.innerHTML += '<div class="row"><div class="col-sm-1"><img class="img-thumbnail" src="/images/dude.jpg"></div><div class="col-sm-12 col-md-12 col-lg-8"><div class="panel panel-default"><div class="panel-heading"><p style="text-align:left;"><a href="/profile/' + mess.uid + '"><strong>' + mess.firstName + ' ' + mess.lastName + '</strong></a><span class="text-muted" style="float:right;"> 	&nbsp '+ mess.likes +' likes</span> <span style="float:right;"class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></p></div><div class="panel-body"><p>'+ mess.content +'</p></div></div></div></div>';
      }
    });
  });

  function prepost() {
    postData('{{myUid}}');
  }
</script>
