<div class="back" id=back>
  <img src="images/043_success-mail.gif" class="stretch" alt="Fun mail gif">
</div>
<span class="textL">
Sign in to BookFace!
</span>
<div class="page-header login" style="float:right" id=login>
  <form id="login_form" action="/login" method="post">
    <table cellspacing="0">
      <tbody>
        <tr>
          <td>
            <label for="email">Email</label>
          </td>
          <td>
            <label for="password">Password</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="email" class="inputtext" name="email" id="email" tabindex="1">
          </td>
          <td>
            <input type="password" class="inputtext" name="password" id="password" tabindex="2">
          </td>
          <td>
            <label id="loginbutton">
            <input value="Log In" tabindex="4" type="submit">
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/newUser">New User</a>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
