<div class="form">
  <form class="form" action="/newMessage" method="post">
    <textarea name="message" rows="8" cols="80" placeholder="Insert your message"></textarea>
    <input type="submit" name="submit" value="submit">
  </form>
</div>
