<!-- td = row (left/right), tr = column (up/down) -->
<div class="back" id=back>
  <img src="images/043_success-mail.gif" class="stretch" alt="Fun mail gif">
</div>
<span class="textNU">
Create a new user account!
</span>
<div class="page-header" style="float:right" id=newuser>
  <form id="newuser_form" action="/createUser" method="post">
    <table cellspacing="0">
      <tbody>
        <tr>
          <td>
            <label for="firstName">First name</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" class="inputtext" name="firstName" id="firstname" tabindex="1">
          </td>
        </tr>
        <tr>
          <td>
            <label for="lastName">Last name</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" class="inputtext" name="lastName" id="lastName" tabindex="2">
          </td>
        </tr>
        <tr>
          <td>
            <label for="email">Email</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="email" class="inputtext" name="email" id="email" tabindex="3">
          </td>
        </tr>
        <tr>
          <td>
            <label for="password">Password</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="password" class="inputtext" name="password" id="password" tabindex="4">
          </td>
        </tr>
        <tr>
          <td>
            <br>
          </div>
          <div id ="button">
            <input value="Create New User" tableindex="5" type="submit">
          </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
