<div class="profile">
  <div class="container">
    <nav class="navbar"></nav>
    <div class="row">
      <div class="col-lg-4">
        <img class="img-fluid rounded img-thumbnail" src="/images/dude.jpg" width=200px height=200px alt="">
        <div class="col">
          <div class="card h-100">
            <div class="card-body"><br></div>
            <div class="card-footer">
              <!-- TODO : Button should change uses picture -->
              <a href ="/settings" class ="btn btn-default">Change picture</a>
            </div>
            <br>
            <div class="card-footer">
              <!-- TODO Button needs to delete account -->
              <a href ="/settings" class ="btn btn-danger">Delete account</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="container">
          <h2>Change your settings</h2>
          <form class="updateUser" action="/updateUser" method="post">
            <div class="form-group" id="formG">
              <label for="firstname">Change First Name:</label>
              <input type="text" class="form-control" id="firstname" name="firstName" value="{{firstName}}">
            </div>
            <div class="form-group" id="formG">
              <label for="lastname">Change Last Name:</label>
              <input type="text" class="form-control" id="lastname" name="lastName" value="{{lastName}}">
            <div class="form-group">
              <br>
              <label for="message">&nbspUpdate your summary:</label>
            <textarea class="form-control" id="summary" name="summary" rows="5" cols="100" value="{{summary}}"></textarea>
          </div>
            <input type="hidden" name="uid" value="{{myUid}}">
            <button type="submit" class="btn btn-default">Update settings</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
