  <div class="form-group">
    <input type="text" id="searchBar" class="form-control" placeholder="Search">
  </div>
  <button type="button" class="btn btn-default" aria-label="Left Align" onclick="myFunc()">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </button>

<script type="text/javascript">
  function myFunc() {
    let search = document.getElementById('searchBar').value;
    let leadsRef = firebase.database().ref('Users');
  leadsRef.on('value', function(snapshot) {
      snapshot.forEach(function(childSnapshot) {
        let childData = childSnapshot.val();
        let bigString = childData.firstName + ' ' + childData.lastName + ' ' + childData.email;
        if (bigString.toLowerCase().indexOf(search.toLowerCase()) !== -1) {
          console.log(childData);
        }
      });
  });
  }

</script>
