html, body {
  min-height: 100%;
  overflow-x: hidden
}

body{
 background: repeating-linear-gradient(white, white 40%, #007B61 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

#Test{
  height:10px;
}
#formG{
  width:40%;
}
