
input[type="submit"] {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:15px;
  background-color: silver;
  animation: glow 0.5s infinite alternate;

}
body{
  background-color: #F9F9F9;

}

#back {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 400px;
    top: 250px;
    z-index: -2;
}
div#topbar{
  left:1150px;
}
.stretch {
    width:40%;
    height:40%;
}
div#newuser {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  	font-size:18px;
    position:relative;
    text-align: center;
    background: #5DBCD2; padding: 20px;
    width: 100%
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;
    top: 59px;
    border-style: solid;
     border-width: medium;
     border-color: black;
     border-top: black;
     border-right: white 0px;

    left:10px;
}
div#login{

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:18px;
  position:relative;
  text-align: left;
  background: #5DBCD2; padding: 20px;
  width: 100%
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox */
  box-sizing: border-box;
  top:59px;
  border-style: solid;
   border-width: medium;
   border-color: black;
   border-top: black;
   border-right: white 0px;

  left:10px;


}
.textNU {
  position: fixed;
  top:20px;
  left:1053px;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
    z-index: 100;
}
a[href]{
  position: relative;
  left:0px;
}
@keyframes glow {
    to {
        text-shadow: 0 0 10px blue;
    }
}
.textL {
  position: fixed;
  top:20px;
  left:1150px;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
    z-index: 100;


}
.navbar {
  animation: glow 0.5s infinite alternate;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:18px;
  color:black;
    position:fixed;
    top:0;
    left:0px;
    width:100%;
    height:65px;
    background:#5DBCD2;
    z-index:-1;
    border-style: solid;
     border-width: medium;
    border-top: black;
    border-left: white 0px;
    border-right: white 0px;
}
